body{
    background: rgba(245, 111, 111, 0.603);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

#dieTray{
    background-color: rgba(255, 115, 0, 0);
    border: chartreuse;
    border-width: 12px;
    position: absolute;
    bottom: 0;
    left: 0;

}

#rollDisplay{
    border:solid black;
    border-width: 1px;
    width: 5rem;
    height: 5rem;
    font: 4em sans-serif;
    background-color: rgba(131, 118, 100, 0.664);
    position: absolute;
    top:50%;
    right: 50%;
    text-align: center;
}
#rollRecord{
    background-color: blanchedalmond;
    position:absolute;
    display: flex;
    width: 10rem;
    height:20rem;
    top: 28.5%;
    right: 20%;
    text-align: right;
    list-style-type:none;
    overflow:scroll;
    overflow-x: hidden;
    overflow-y:initial;
    flex-direction: column-reverse;
    
}
#d12{
 background-image: url('../src/imgs/d12.png');
 background-repeat: no-repeat;
 background-size: contain;
 background-color:rgba(255, 99, 71, 0);
 width: 100px;
 height: 100px;
 border-color: rgba(95, 158, 160, 0);
 border-radius: 100%;
}
#d12:focus {
    background-color: chartreuse;
}
#d4{
    background-image: url('../src/imgs/d4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d4:focus {
    background-color: chartreuse;
}
   #d6{
    background-image: url('../src/imgs/d6.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }  
   #d6:focus {
    background-color: chartreuse;
}

   #d8{
    background-image: url('../src/imgs/d8.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }  
    #d8:focus {
    background-color: chartreuse;
}
   #d10{
    background-image: url('../src/imgs/d10.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d10:focus {
    background-color: chartreuse;
}
   #d20{
    background-image: url('../src/imgs/d20.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d20:focus {
    background-color: chartreuse;
}
   #d100{
    background-image: url('../src/imgs/d100.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d100:focus {
    background-color: chartreuse;
}

#clearbtn{
    background-color: green;
    color:;
    width: 100px;
    height: 100px;
    border-radius: 39%;
    padding: 10px;
    top: 40px;
    left: 100px;
    position:relative;
}
#rollbtn{
    background-color: green;
    color:;
    width: 100px;
    height: 100px;
    border-radius: 39%;
    padding: 10px;
    top: 40px;
    position: relative;
}
.box{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
#card{
    font: 200;
    border: 10px black;
}