body{
    background: rgba(87, 84, 84, 0.856);
    background-image: url("./imgs/mainbg.jpg");
   
}

#dieTray{
    background-color: rgba(255, 115, 0, 0.349);
    border: chartreuse;
    border-width: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    border:thick solid black;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    
}

#rollDisplay{
    border:thick solid black;
    width: 5rem;
    height: 5rem;
    font: 4em sans-serif;
    background-color: rgba(109, 51, 17, 0.877);
    position: absolute;
    top:50%;
    right: 50%;
    text-align: center;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    
}
#rollRecord{
    background-image: url("../src/imgs/trayBG.jpg");
    background-size: 10rem 20rem;
    position:absolute;
    display: flex;
    width: 10rem;
    height:20rem;
    top: 28.5%;
    right: 20%;
    text-align: right;
    list-style-type:none;
    overflow:scroll;
    overflow-x: hidden;
    overflow-y:initial;
    flex-direction: column-reverse;
    border:thick solid rgb(0, 0, 0);
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    font: 3em ;
    color:rgb(250, 250, 250);
    
    
    
}
#d12{
 background-image: url('../src/imgs/d12.png');
 background-repeat: no-repeat;
 background-size: contain;
 background-color:rgba(255, 99, 71, 0);
 width: 100px;
 height: 100px;
 border-color: rgba(95, 158, 160, 0);
 border-radius: 100%;
}
#d12:focus {
    background-color: chartreuse;
}
#d4{
    background-image: url('../src/imgs/d4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d4:focus {
    background-color: chartreuse;
}
   #d6{
    background-image: url('../src/imgs/d6.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }  
   #d6:focus {
    background-color: chartreuse;
}

   #d8{
    background-image: url('../src/imgs/d8.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }  
    #d8:focus {
    background-color: chartreuse;
}
   #d10{
    background-image: url('../src/imgs/d10.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d10:focus {
    background-color: chartreuse;
}
   #d20{
    background-image: url('../src/imgs/d20.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d20:focus {
    background-color: chartreuse;
}
   #d100{
    background-image: url('../src/imgs/d100.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }
   #d100:focus {
    background-color: chartreuse;
}

#clearbtn{
    background-color: green;
    color:;
    width: 100px;
    height: 100px;
    border-radius: 39%;
    padding: 10px;
    top: 40px;
    left: 100px;
    position:relative;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
}
#rollbtn{
    background-color: green;
    color:;
    width: 100px;
    height: 100px;
    border-radius: 39%;
    padding: 10px;
    top: 40px;
    position: relative;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
}
.box{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
#card{
    font: 200;
    border: 10px black;
}