body{
    background: rgba(87, 84, 84, 0.856);
    background-image: url("/src/imgs/mainbg.jpg");
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}

#dieTray{
    background-color: rgba(255, 115, 0, 0.349);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60vh;
    width: 110px;
    border:thick solid black;
    border-radius: 5px;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y:auto;
    }

#rollDisplay{
    border:thick solid black;
    width: 6vh;
    height: 6vh;
    font: 5vh sans-serif;
    background-color: rgba(255, 115, 0, 0.349);
    position: absolute;
    top: 50vh;
    right: 4.5em;
    text-align: center;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    border-radius: 5px;    
    font-family: inherit;
    overflow: hidden;
    padding-right: 1vw;
}
#sumRoll{
    border:thick solid black;
    width: 6vh;
    height: 6vh;
    font: 5vh sans-serif;
    background-color: rgba(255, 115, 0, 0.349);
    position: absolute;
    top: 50vh;
    right: 9vw;
    text-align: center;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    border-radius: 5px;    
    font-family: inherit;
}
#current{
    width: 6vh;
    height: 6vh;
    font: 4em sans-serif;
    position: absolute;
    top: 50vh;
    right: 4em;
    text-align: center;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    border-radius: 5px;
    font-family:inherit; 
    overflow-inline: auto;
}
#rollRecord{
    background-image: url("/src/imgs/trayBG.jfif");
    position:absolute;
    display: flex;
    width: 20vmax;
    height:30vmax;
    top: 20vh;
    left: 35vw;
    text-align: right;
    list-style-type:none;
    overflow:scroll;
    overflow-x: hidden;
    overflow-y:initial;
    flex-direction: column-reverse;
    border:thick solid rgb(0, 0, 0);
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    font: 4em ;
    color:rgb(241, 224, 224);
    border-radius: 5px;
}

#card{
    font: 200;
    border: thin solid black;
    background-color: rgba(255, 115, 0, 0.349);
    margin-left: 40%;
    text-align: center;
    min-height: 40px;
    border-radius: 12%;
    color: black;
    font-size: 2rem;
    width: 110px;
    white-space: pre;
}
#d12{
 background-image: url('/src/imgs/d12.png');
 background-repeat: no-repeat;
 background-size: contain;
 background-color:rgba(255, 99, 71, 0);
 width: 100px;
 height: 100px;
 border-color: rgba(95, 158, 160, 0);
 border-radius: 100%;
}

#d4{
    background-image: url('/src/imgs/d4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }

   #d6{
    background-image: url('/src/imgs/d6.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }  

   #d8{
    background-image: url('/src/imgs/d8.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }  

   #d10{
    background-image: url('/src/imgs/d10.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }

   #d20{
    background-image: url('/src/imgs/d20.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }

   #d100{
    background-image: url('/src/imgs/d100.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 235, 205, 0.068);
    width: 100px;
    height: 100px;
    border-color: rgba(95, 158, 160, 0);
    border-radius: 100%;
   }

#clearbtn{

    background-color: rgba(255, 115, 0, 0.568);
    color:rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    right: 8.2em;
    bottom: 3%;
    position:absolute;
    filter: drop-shadow(30px 10px 4px #9c9ce7a1);
    font-weight: bold;
    font-size: 1em;
}
#rollbtn{
    background-color: rgba(255, 115, 0, 0.568);
    color:rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    bottom: 3%;
    right: 1em;
    position: absolute;
    filter: drop-shadow(30px 10px 4px #9c9ce7a1);
    font-weight: bolder;
    font-size: 1em;
}

#advan{
    background-color: rgba(36, 184, 73, 0.575);
    color:rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    right: 10em;
    bottom: 11em;
    position:absolute;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    }
#disadvan{
    background-color: rgba(238, 96, 71, 0.575);
    color:rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    right: 1em;
    bottom: 11em;
    position:absolute;
    filter: drop-shadow(30px 10px 4px #4e4e50a1);
    
    }
.box{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
#radioBox{
    background-color: rgba(255, 115, 0, 0.349);
    border:thick solid rgb(0, 0, 0);
    position: absolute;
    padding:5px;
    color:#222;
    font-family:corbel,sans-serif;
    font-size: 1.5em;
    margin: 10px;
    top: 0%;
    right: 6%;
}

.active-dice{
    background: linear-gradient(to right, rgba(231, 228, 228, 0.219) 50%, rgba(214, 68, 68, 0.651) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  border-radius: 69%;
}